* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

body {
  background-color: #002339;
  color: #fff;
}

.container {
  padding-top: 200px;
  padding-left: 200px;
}

.container h1 span {
  color: #006200;
}

.display {
  color: #fff;
}

#password-input {
  font-family: inherit;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  width: 320px;
}

.copy-btn {
  margin-left: 15px;
}

.copy-btn:hover {
  cursor: pointer;
}

.generate-btn {
  font-family: inherit;
  border-radius: 8px;
  background-color: #006200;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  height: 60px;
  width: 260px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
}

.generate-btn:hover {
  background-color: #015001;
  transition: 0.2s;
}

.button-img {
  margin-top: 9px;
}
